a {
    display: block;
    margin: 20px 0;
}

.Module__1 {
    background: #caf395;
    width: max-content;
}

.Module__2 {
    background: #f8b47c;
    width: max-content;
}

.Module__3 {
    background: #7cf89b;
    width: max-content;
}

.Module__4 {
    background: #7268fc;
    width: max-content;
}

.Module__5 {
    background: #15a835;
    width: max-content;
}

.Module__6 {
    background: #114fd4;
    width: max-content;
}

.Module__7 {
    background: #d9e70c;
    width: max-content;
}

.Module__8 {
    background: #08eb1a;
    width: max-content;
}

.Module__9 {
    background: #0817eb;
    width: max-content;
}