*{
    /* outline: 1px solid red; */
}
.container {
    text-align: center;    
    height: 100px;    
}


.col-md-4:nth-child(odd){
    background: #f8d69d;
}

.col-md-4:nth-child(even){
    background: #f89ea9;
}