/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.eot),
        url(../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.svg),
        url(../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.ttf),
        url(../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff),
        url(../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff2);
    font-style: normal;
    font-weight: 400;
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat-v12-latin/montserrat-v12-latin-700.eot),
        url(../fonts/montserrat-v12-latin/montserrat-v12-latin-700.svg),
        url(../fonts/montserrat-v12-latin/montserrat-v12-latin-700.ttf),
        url(../fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff),
        url(../fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff2);
    font-style: normal;
    font-weight: 700;
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-v18-latin/roboto-v18-latin-300.eot),
        url(../fonts/roboto-v18-latin/roboto-v18-latin-300.svg),
        url(../fonts/roboto-v18-latin/roboto-v18-latin-300.ttf),
        url(../fonts/roboto-v18-latin/roboto-v18-latin-300.woff),
        url(../fonts/roboto-v18-latin/roboto-v18-latin-300.woff2);
    font-style: normal;
    font-weight: 300;
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-v18-latin/roboto-v18-latin-regular.eot),
        url(../fonts/roboto-v18-latin/roboto-v18-latin-regular.svg),
        url(../fonts/roboto-v18-latin/roboto-v18-latin-regular.ttf),
        url(../fonts/roboto-v18-latin/roboto-v18-latin-regular.woff),
        url(../fonts/roboto-v18-latin/roboto-v18-latin-regular.woff2);
    font-style: normal;
    font-weight: 400;
}