* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to right,rgb(5, 252, 239) 5%, rgb(219, 69, 24));
  font-family: Roboto, sans-serif;
}

.wrapper {
  max-width: 600px;  
  margin: auto;
}

.menu {
  list-style: none;
  padding: 10px;  
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.menu-item {
  position: relative;
  display: inline-block;
}

.menu-item>a,
.submenu-item>a {
  display: inline-block;
  padding: 15px 30px;
  color: #424242;
  background-color: #fff;
  text-decoration: none;
}

.menu-item>a:hover,
.submenu-item>a:hover {
  background: rgb(21, 192, 64);
  color: #ffffff;
}

.submenu {
  display: none;  
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;   
}

.menu-item:hover>.submenu {
  display: block;
}

.submenu-item {
  white-space: nowrap;
}