@media(min-width:768px) {
    .pagewrapper {
        max-width: 768px;
        margin: 0 auto;
    }

    header {        
        background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.1)), url(../img/Vector\ Smart\ Object_tablet.png);
            background-repeat: no-repeat;            
            background-position: center; 
            background-size: cover;
            padding-bottom: 234px;              
         }
    
         .head-list {
            width: 90%;          
            padding-bottom: 135px;            
            display: flex;
            justify-content: space-between;
            flex-flow: row nowrap;
            align-items: baseline;
         }
            .logo {
                order: 0;                
                text-align: start;      
                letter-spacing: 1.5px;
                font-size: 1.3em;                
                padding-top: 20px;
                margin-left: 20px;
            }

            .log-item {               
                font-size: 0.8em;                             
            }
            .log {
                display: block;
                width: 60px;                
            }
            
            .sign_up {
                margin-left: 20px;
            }

            .first-title {
                width: 65%;    
                line-height: 60px;
                font-size: 3em;                    
                padding-top: 0;
                padding-bottom: 35px;
            }
            .first-title::after {
                content: "And find the perfect partner to fullfill it";
                font-size: 0.5em;
                display: block;               
                width: 100%;                
                line-height: 20px;                   
                padding-top: 45px;
                
            }
            .btn-header { 
                display: block;
                padding: 12px 30px;  
            }
/* секция с партнерами  */
            .team-members {
                width: 70%;
            }
            .team-unit {
                width: 50%;    
            }
            .member-photo {            
                height: 170px;                               
            }
            .member-icon {
                width: 3em;
                height: 3em;                
            }

            .member-icon-img {
                width: 1.5em;
                height: 1.5em;
            }
            .team-unit-title {
                font-size: 1em;
                padding: 15px 0;
            }
            
            .team-unit-text {
                width: 80%;
            }

            .order-1 {
                order: 1;
            }

            .order-2 {
                order: 3;
            }

            .order-3 {
                order: 2;
            }

            .order-4 {
                order: 4;
            }
            /* Секция футера */
            footer {
                width: 100%;
                padding-bottom: 30px;
                margin-top: 20px;
            }

            .btn-footer {
                padding: 10px 45px;   
            }

}